@model MvcProject.ViewModel.User_VM

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">@ViewBag.TitlePage</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" enctype="multipart/form-data" action="/UserAuthentication/ChangePassword">
    @*<input type="hidden" value="@TempData["LoginError"]" />*@
    <div class="modal-body">

        <div class="md-form  ">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Old Password</label>

            @Html.PasswordFor(n => n.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.OldPassword)

        </div>
        <div class="md-form  ">
            <label data-error="wrong" data-success="right" for="defaultForm-email">New Password</label>

            @Html.PasswordFor(n => n.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.NewPassword)

        </div>
        <div class="md-form  ">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Confirm Password</label>

            @Html.PasswordFor(n => n.ConfirmPasswordForChange, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.ConfirmPasswordForChange)

        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        <input id="Submit1" class="btn btn-default" type="submit" value="submit" />
    </div>
</form>

@Scripts.Render("~/bundles/jqueryval")


